*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 1.6;
    font-size: 20px;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #231f1f;
    box-shadow:0 2px 5px rgba(0,0,0,0.1) ;
}
.img-header img{
    max-width: 50px;
    height: auto;
}
header ul{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul li{
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition:color 0.3s ease;
}
header ul li a:hover{
    color: #007bff;
}
main{
   padding: 20px;
   display: flex;
   justify-content: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-top: 30px;
}
.card-rede{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 200px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
.img-card{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 50%;
}
.btn-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition:background-color 0.3s ease ;
    list-style: none;
    text-decoration: none;

}
.btn-button:hover{
    background-color: #0056b3;
}
